---
---

.brandbox {
  position: relative;
  height: 40px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-bottom: 0px;
  background-color: #1b2429;
}

.logo {
  position: absolute;
  display: block;
  overflow: visible;
  width: 200px;
  margin-top: -20px;
  padding-top: 60px;
  float: left;
  background-image: url('{{ site.baseurl }}/images/matlib.gif');
  background-position: 0px 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo.w--current {
  width: 200px;
  margin-top: -20px;
}

.logo.w--current:hover {
  margin-left: 0px;
}

.body {
  background-color: #1b2429;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.categories {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eeecec;
}

.tab-bar {
  margin-bottom: 20px;
  margin-left: 1px;
  padding-right: 0px;
  border: 1px none rgba(0, 0, 0, .16);
}

.footer {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.navbar-item {
  position: static;
  display: inline;
  margin: 10px 5px;
  padding: 10px 15px;
  float: none;
  border: 1px solid transparent;
  border-radius: 3px;
  opacity: 0.7;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.navbar-item:hover {
  border: 1px solid #0082f3;
  border-radius: 3px;
  opacity: 1;
}

.navbar-item.w--current {
  margin-right: 6px;
  color: #000;
  font-weight: 800;
  text-decoration: underline;
}

.tab-link {
  width: 20%;
  margin-left: -1px;
  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
  clear: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .16);
  opacity: 0.8;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  text-transform: none;
}

.tab-link:hover {
  opacity: 1;
}

.tab-link.w--current {
  background-color: #0082f3;
  color: #fff;
}

.tab-link.index-tab {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #646464;
}

.tab-link.index-tab.w--current {
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
  font-weight: 700;
}

.tab-link.index-tab.process-index {
  width: 25%;
}

.tab-link.index-tab.products-index {
  width: 100%;
  border-radius: 3px;
}

.tab-link.last-tab {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tab-link.last-tab.hybrids {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #acac00;
}

.tab-link.last-tab.hybrids.w--current {
  opacity: 1;
  font-weight: 700;
}

.tab-link.last-tab.hybrids.process-surface {
  width: 25%;
  background-color: #3284c7;
}

.tab-link.hybrid-tag {
  background-color: #46a762;
}

.tab-link.metals {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #e04b3f;
}

.tab-link.metals.w--current {
  opacity: 1;
  font-weight: 700;
}

.tab-link.metals.process-join {
  width: 25%;
  background-color: #46a762;
}

.tab-link.ceramics {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #b432b4;
}

.tab-link.ceramics.w--current {
  opacity: 1;
  font-weight: 700;
}

.tab-link.ceramics.process-shape {
  width: 25%;
  background-color: #e04b3f;
}

.tab-link.polymers {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #3284c7;
}

.tab-link.polymers.w--current {
  opacity: 1;
  font-weight: 700;
}

.tab-pane {
  position: relative;
  padding: 10px 0px 5px 20px;
  border: 1px solid rgba(0, 0, 0, .14);
  background-color: #fff;
}

.search {
  margin-top: -5px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 0px;
  background-color: #fff;
}

.thayer-logo {
  position: absolute;
  display: inline-block;
  margin-top: 10px;
  line-height: 20px;
}

.thayer {
  position: relative;
  height: 40px;
  float: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.thayer:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.thayer-text {
  position: relative;
  display: inline-block;
  padding-top: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  font-family: Merriweather, serif;
  color: #fff;
  font-size: 12px;
  line-height: 40px;
  font-weight: 300;
}

.brandbox-container {
  position: relative;
}

.navbar {
  height: 75px;
}

.navbar-container {
  margin-top: 30px;
}

.dartmouth {
  display: inline-block;
  float: right;
  background-image: url('{{ site.baseurl }}/images/dartmouth.png');
  background-position: 0px 45%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: transparent;
  font-size: 17px;
  line-height: 40px;
  text-decoration: none;
}

.dartmouth:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.material-block {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 20%;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-right: 20px;
  float: left;
  clear: none;
  text-decoration: none;
}

.material-block-inner {
  position: static;
  display: block;
  float: none;
  border-radius: 3px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
}

.material-block-inner:hover {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .48);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.material-image {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.material-button {
  display: block;
  padding: 8px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #646464;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 600;
  text-align: left;
  letter-spacing: -0.3px;
  text-decoration: none;
  text-transform: capitalize;
}

.material-button.metal-tag {
  background-color: #e04b3f;
}

.material-button.ceramic-tag {
  background-color: #b432b4;
}

.material-button.polymer-tag {
  background-color: #3284c7;
}

.material-button.hybrid-tag {
  background-color: #acac00;
}

.material-button.join-tag {
  background-color: #357e49;
}

.material-button.shape-tag {
  background-color: #9a2219;
}

.material-button.surface-tag {
  background-color: #245f8f;
}

.landing-link-box {
  display: block;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #ddd;
  text-decoration: none;
}

.landing-link-title {
  overflow: visible;
  margin-top: 0px;
  border: 1px none #000;
  color: #1b2429;
  font-size: 40px;
  line-height: 230px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.category-section-title {
  display: block;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: -20px;
  padding: 15px 20px;
  background-color: hsla(0, 6%, 93%, .4);
}

.category-section-title.search-title-overide {
  margin-top: 10px;
  padding-right: 30px;
  padding-left: 20px;
}

.material-group-title {
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-right: 10px;
  float: none;
  clear: left;
}

.back-to-top {
  position: fixed;
  right: 6%;
  bottom: 7%;
  z-index: 999;
  border-radius: 3px;
  background-color: #3284c7;
  opacity: 0.5;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Fontawesome, sans-serif;
  font-size: 26px;
  line-height: 24px;
}

.back-to-top:hover {
  opacity: 1;
}

.tab-text {
  display: inline-block;
}

.tab-text.tab-text-icon {
  display: inline-block;
  margin-top: 1px;
  margin-bottom: -1px;
  padding-right: 5px;
  float: none;
  clear: none;
  font-family: Fontawesome, sans-serif;
  font-size: 12px;
  line-height: 13px;
}

.separator {
  width: 100%;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: -webkit-radial-gradient(circle farthest-side at 50% 50%, rgba(0, 129, 242, .43) 86%, rgba(115, 135, 199, .01) 96%);
  background-image: radial-gradient(circle farthest-side at 50% 50%, rgba(0, 129, 242, .43) 86%, rgba(115, 135, 199, .01) 96%);
}

.content {
  position: relative;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, .14);
  background-color: #fff;
}

.qrcode {
  position: relative;
  left: 0px;
  top: 0px;
  display: inline;
  width: 50px;
  height: 50px;
  float: right;
  clear: both;
}

.content-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eeecec;
}

.material-name {
  margin-top: 0px;
  margin-right: 35px;
  margin-bottom: 0px;
}

.catalog-number {
  padding-bottom: 15px;
  color: rgba(51, 51, 51, .5);
  font-size: 12px;
}

.labels {
  display: block;
  padding-bottom: 5px;
  float: none;
  clear: none;
  color: rgba(51, 51, 51, .64);
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.data {
  position: static;
  display: block;
  margin-bottom: 25px;
  float: none;
  clear: none;
}

.lightbox-link {
  width: 100%;
  padding-right: 10px;
  padding-bottom: 10px;
}

.lightbox-link.lightbox-link-secondary {
  width: 49.3%;
}

.lightbox-image {
  width: 100%;
  border-style: none;
  border-radius: 3px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.lightbox-image:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.lightbox-image.lightbox-image-secondary {
  width: 100%;
}

.footer-logo {
  width: 250px;
  height: 57px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url('{{ site.baseurl }}/images/Thayer-School-of-Engineering-at-Dartmouth-logo-white@2x.png');
  background-position: 0px 0px;
  background-size: 250px 57px;
  background-repeat: no-repeat;
}

.footer-contact {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-left {
  text-align: center;
}

.body-text {
  margin-top: 20px;
}

.none-found {
  padding-bottom: 5px;
  opacity: 0.5;
}

.leftlogo {
  position: relative;
  width: 85px;
  height: 40px;
  float: left;
  background-image: url('{{ site.baseurl }}/images/dartmouth.png');
  background-position: 0px 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.leftlogotext {
  position: absolute;
  left: 90px;
  display: inline-block;
  margin-top: 11px;
  float: left;
  clear: left;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.right-logo {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  height: 20px;
  margin-top: 10px;
  padding-left: 26px;
  float: right;
  background-image: url('{{ site.baseurl }}/images/ThayerShield_White.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: Merriweather, serif;
  color: #fff;
  font-size: 12px;
  line-height: 21px;
}

.sitetitle {
  position: relative;
  top: -6px;
  color: #333;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  text-decoration: none;
}

.material-icon {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.material-tag {
  padding: 4px 8px;
  background-color: hsla(0, 0%, 39%, .6);
  color: rgba(0, 0, 0, .48);
  font-size: 8px;
  line-height: 8px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.material-tag.metal {
  background-color: rgba(224, 75, 63, .6);
}

.material-tag.ceramic {
  background-color: rgba(180, 50, 180, .6);
}

.material-tag.polymer {
  background-color: rgba(50, 132, 199, .6);
}

.material-tag.hybrid {
  background-color: rgba(172, 172, 0, .6);
}

.material-tag.join {
  background-color: rgba(70, 167, 98, .6);
}

.material-tag.shape {
  background-color: rgba(224, 75, 63, .6);
}

.material-tag.surface {
  background-color: rgba(50, 132, 199, .6);
}

.material-tag.product-none {
  display: none;
}

.credit-logo {
  margin-top: 20px;
}

.page-title {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 800;
}

@media (max-width: 991px) {
  .nav-box {
    display: block;
    margin-top: auto;
    padding: 25px;
    background-color: #0082f3;
  }
  .navbar-item {
    margin-right: 16px;
    margin-left: 16px;
  }
  .navbar-item:hover {
    border-color: rgba(0, 0, 0, .54);
  }
  .tab-link {
    margin-top: -1px;
    text-align: center;
  }
  .material-block {
    width: 25%;
  }
  .mobile-nav-button {
    margin-top: -22px;
    border-radius: 3px;
  }
  .mobile-nav-button.w--open {
    border-radius: 329px;
    background-color: #0082f3;
  }
}

@media (max-width: 767px) {
  .logo.w--current {
    margin-left: 0px;
  }
  .logo.w--current:hover {
    display: block;
  }
  .tab-bar {
    margin-right: 10px;
    margin-left: 11px;
  }
  .nav-box {
    text-align: center;
  }
  .tab-link {
    display: inline-block;
  }
  .tab-link.index-tab.process-index {
    width: 50%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .tab-link.last-tab.hybrids.process-surface {
    width: 50%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .tab-link.metals.process-join {
    width: 50%;
  }
  .tab-link.ceramics.process-shape {
    width: 50%;
  }
  .tab-pane {
    margin-right: 10px;
    margin-left: 10px;
  }
  .thayer {
    margin-left: -5px;
  }
  .brandbox-container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-container {
    margin-right: 10px;
    margin-left: 10px;
  }
  .dartmouth {
    margin-right: -5px;
  }
  .material-block {
    width: 33.333%;
  }
  .tab-text.lable {
    display: none;
  }
  .content {
    display: block;
    padding: 10px 15px;
  }
  .content-section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer-contact {
    margin-top: 0px;
  }
  .material-column-left {
    padding-left: 0px;
  }
  .column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .page-title {
    padding-left: 10px;
  }
}

@media (max-width: 479px) {
  .logo.w--current {
    margin-left: 0px;
  }
  .logo.w--current:hover {
    display: block;
  }
  .nav-box {
    position: absolute;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
    float: none;
  }
  .navbar-item {
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 20px;
  }
  .navbar-item.w--current {
    display: inline-block;
  }
  .tab-link {
    width: 50%;
    height: 42px;
    text-align: center;
  }
  .tab-link.index-tab {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .tab-link.index-tab.w--current {
    display: block;
  }
  .tab-link.last-tab.hybrids {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .thayer-text {
    font-size: 12px;
  }
  .material-block {
    width: 50%;
  }
  .material-block-inner {
    display: block;
    width: 100%;
  }
  .category-section-title {
    font-size: 20px;
    line-height: 20px;
  }
  .material-group-title {
    font-size: 16px;
    line-height: 22px;
  }
  .tab-text.lable {
    display: inline-block;
  }
  .tab-text.mobile-hang {
    position: relative;
    top: -6px;
  }
  .qrcode {
    display: block;
  }
  .labels {
    margin-top: 20px;
  }
  .lightbox-link.lightbox-primary {
    padding-right: 0px;
  }
  .material-column-left {
    padding-right: 0px;
  }
  .page-title {
    font-size: 24px;
    line-height: 24px;
  }
}

@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/fontawesome-webfont.woff2') format('undefined'), url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/FontAwesome.otf') format('opentype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
