---
layout: default
---
<div class="w-section categories">
  <div class="w-container">
    <h1 class="page-title">Processes Collection</h1>
  </div>
  <div class="w-container category-container">
    <div data-duration-in="300" data-duration-out="100" class="w-tabs tabs">
      <div id="search" class="w-tab-menu w-clearfix tab-bar">
        <a id="index" data-w-tab="Index" class="w-tab-link w--current w-inline-block tab-link index-tab process-index">
          <div class="tab-text tab-text-icon">&nbsp;</div>
          <div class="tab-text lable">Index</div>
        </a>
        <a data-w-tab="Joining" class="w-tab-link w-inline-block tab-link metals process-join">
          <div class="tab-text">Joining</div>
        </a>
        <a data-w-tab="Shaping" class="w-tab-link w-inline-block tab-link ceramics process-shape">
          <div class="tab-text">Shaping</div>
        </a>
        <a data-w-tab="Surface Treatments" class="w-tab-link w-inline-block tab-link last-tab hybrids process-surface">
          <div class="tab-text mobile-hang">Surface Treatments</div>
        </a>
      </div>
      <div class="w-tab-content tab-container">

        {% include processes-index-tab.html %}
        {% include processes-joining-tab.html %}


        <div data-w-tab="Shaping" class="w-tab-pane tab-pane">
          <h3 class="category-section-title">Shaping</h3>
          <h4 class="material-group-title">Additive Manufactoring</h4>
          <h4 class="material-group-title">Casting</h4>
          <h4 class="material-group-title">Composite Forming</h4>
          <h4 class="material-group-title">Deformation</h4>
          <h4 class="material-group-title">Machining</h4>
          <h4 class="material-group-title">Moulding</h4>
          <h4 class="material-group-title">Powder Methods</h4>
        </div>


        <div data-w-tab="Surface Treatments" class="w-tab-pane tab-pane">
          <h3 class="category-section-title">Surface Treatments</h3>
          <h4 class="material-group-title">Heat Treatments</h4>
          <h4 class="material-group-title">Painting and Printing</h4>
          <h4 class="material-group-title">Polishing / Etching / Working / Texturing</h4>
          <h4 class="material-group-title">Surface Coating</h4>
        </div>


      </div>
    </div>
  </div>
</div>
