{% assign materials = site.materials | group_by:"index_letter" | sort: "name" %}
{% for group in materials %}
    <h4 class="material-group-title">{{ group.name }}</h4>
    {% assign items = group.items | sort: "name" %}
    {% for item in items %}
      <div class="material-block">
        <div class="material-block-inner"><img class="material-image" src="{{ site.baseurl }}{{ item.primary_photo_path }}">
        {% assign short_name  = (item.material_name | slice: 0, 3) %}
        <a class="w-button material-button" href="{{ site.baseurl }}{{ item.url }}">{{ short_name }}</a>
        </div>
    </div>
    {% endfor %}
{% endfor %}
