<div class="w-section footer">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-6 footer-left">
        <a href="http://engineering.dartmouth.edu" target="_blank" class="w-inline-block footer-logo"></a>
      </div>
      <div class="w-col w-col-6">
        <p class="footer-contact">14 Engineering Drive, Hanover, NH 03755
          <br><a class="footer-link" href="#">thayer.receptionist@dartmouth.edu</a>
          <br>(603) 646-2230
          <br>
          <br><a class="footer-link" href="{{ site.update }}" target="_blank">Login</a> | <a class="footer-link" href="{{ site.baseurl }}/credits.html">Credit</a>s</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/webflow.js"></script>
<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->