<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    {% if page.collection == "materials" %}
      {{ page.material_name }}
    {% endif %}
    {% if page.path != "index.html" %}
      {{ page.title }} |
    {% endif %}
    {{ site.name }} | Dartmouth Engineering
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="v_oUsSkSqjvO60j9avOjq0LjvP79F8BZYHZxWJunITE" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/matlib/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/matlib/css/webflow.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/matlib/css/matlib.webflow.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
    WebFont.load({
    google: {
    families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Merriweather:300,400,700,900"]
    }
    });
    </script>
    <script type="text/javascript" src="{{ '/matlib/js/modernizr.js' | prepend: site.baseurl }}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/matlib/images/matliblogo.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" href="{{ '/matlib/images/matliblogo.png' | prepend: site.baseurl }}">
  </head>
  <body class="body">
    <div class="w-section brandbox">
      <div class="w-container brandbox-container">
        <a class="w-inline-block thayer" href="http://engineering.dartmouth.edu" target="_blank"><img class="thayer-logo" height="20" src="{{ '/matlib/images/ThayerShield_White.png' | prepend: site.baseurl }}">
          <div class="thayer-text">Thayer School of Engineering</div>
          </a><a class="dartmouth" href="http://dartmouth.edu" target="_blank">Dartmouth</a>
        </div>
      </div>
      <div class="w-nav navbar" id="top" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
        <div class="w-container navbar-container">
          <a class="w-nav-brand logo" href="{{ '/matlib/index.html' | prepend: site.baseurl }}"></a>
          <nav class="w-nav-menu nav-box" role="navigation"><a class="w-nav-link navbar-item" href="{{ '/matlib/index.html' | prepend: site.baseurl }}">Materials</a><a class="w-nav-link navbar-item" href="{{ '/matlib/about.html' | prepend: site.baseurl }}">About</a><a class="w-nav-link navbar-item" href="{{ '/matlib/contact.html' | prepend: site.baseurl }}">Contact</a>
        </nav>
        <div class="w-nav-button mobile-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
      </div><a class="w-button back-to-top" href="#top"></a>
