<div class="w-section brandbox">
  <div class="w-container brandbox-container">
    <a href="http://engineering.dartmouth.edu" target="_blank" class="w-inline-block thayer">
      <div class="thayer-text">Thayer School of Engineering</div>
    </a>
    <a href="http://dartmouth.edu" target="_blank" class="dartmouth">Dartmouth</a>
  </div>
</div>
<div id="top" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav navbar">
  <div class="w-container navbar-container">
    <nav role="navigation" class="w-nav-menu nav-box">
    <a href="{{ site.baseurl }}/materials.html" class="w-nav-link navbar-item">Materials</a>
    <a href="{{ site.baseurl }}/processes.html" class="w-nav-link navbar-item">Processes</a>
    <a href="{{ site.baseurl }}/products.html" class="w-nav-link navbar-item">Products</a>
    </nav>
    <a href="{{ site.baseurl }}/" class="sitetitle">Materials Discovery Lab</a>
    <div class="w-nav-button mobile-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
<a href="#top" class="w-button back-to-top"></a>