{% assign materials = site.materials | where:"class", "Metals" | group_by:"subclass" | sort: "name" | reverse %}
{% for group in materials %}
    <!-- Display the subclass selection from CloudCannon with the class prefix removed. -->
    <h4 class="material-group-title">{{ group.name | remove: "Metals: " }}</h4>
    {% assign items = group.items | sort: "name" %}
    {% for item in items %}
      <div class="material-block">
        <div class="material-block-inner"><img class="material-image" src=".{{ item.primary_photo_path }}"><a class="w-button material-button" href=".{{ item.url }}">{{ item.name }}</a>
      </div>
    </div>
    {% endfor %}
{% endfor %}
<h4 class="material-group-title"> </h4>
