{% assign materials = site.materials | where:"class", "Polymers" | group_by:"subclass" | sort: "name" | reverse %}
{% for group in materials %}
    <!-- Display the subclass selection from CloudCannon with the class prefix removed. -->
    <h4 class="material-group-title">{{ group.name | remove: "Polymers: " }}</h4>
    {% assign items = group.items | sort: "name" %}
    {% for item in items %}
      <div class="material-block">
        <div class="material-block-inner"><img class="material-image" src="/matlib{{ item.primary_photo_path}}"><a class="w-button material-button" href="/matlib{{ item.url }}">{{ item.name }}</a>
      </div>
    </div>
    {% endfor %}
{% endfor %}
<h4 class="material-group-title"> </h4>
