<div data-w-tab="Surface Treatments" class="w-tab-pane tab-pane">
  <h3 class="category-section-title">Surface Treatment Processes</h3>
  {% assign processes = site.processes | where: "process_class", "Surface Treatment" | group_by: "process_subclass" | sort: "name" %}
  {% for group in processes %}
  	<h4 class="material-group-title">{{ group.name | remove: "Surface Treatment: "}}</h4>
  	{% assign items = group.items | sort: "process_name" %}
    {% for item in items %}
    <div class="material-block">
      <a href="{{ item.url | prepend: site.baseurl }}" class="w-inline-block material-block-inner">
      {% if item.primary_photo_path == nil %}
      <img src="{{ site.baseurl }}/images/no-photo.png" class="material-image">
      {% else %}
      <img src="{{ item.primary_photo_path | prepend: site.baseurl }}" class="material-image">
      {% endif %}
       <div class="material-tag shape">{{ item.process_class }}</div>
       <div class="material-button shape-tag">{{ item.process_name | truncate: site.grid_view_name_length }}</div>
      </a>
    </div>
    {% endfor %}
  {% endfor %}
  <!-- The following Empty H4 is a hack required to prevent tab well from collapsing on last group of items. -->
  <h4 class="material-group-title"> </h4>
</div>