          {% unless page.relations[0].materials == nil and page.relations[1].processes == nil and page.relations[2].products == nil %}
            <div class="labels">Relations:</div>
            <table style="width:100%">
            {% unless page.relations[0].materials == nil %}
            <tr>
              <th>
                <p><strong>Materials</strong></p>
              </th>
              <td>
                <ul>
                  {% assign rel_ms= page.relations[0].materials %}
                  {% for rel_m in rel_ms %}
                    {% assign linkpath =  (rel_m | prepend: "_materials/" | append:".md") %}
                    {% assign item = site.materials | where_exp:"item", "item.path ==  linkpath " | first %}
                        <li><a href="{{ site.baseurl }}/materials/{{ rel_m }}.html">{{ item.material_name | truncate: 20}}</a></li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endunless %}

            {% unless page.relations[1].processes == nil %}
            <tr>
              <th>
                <p><strong>Processes</strong></p>
              </th>
              <td>
                <ul>
                  {% assign rel_ps= page.relations[1].processes %}
                  {% for rel_p in rel_ps %}
                    {% assign linkpath =  (rel_p | prepend: "_processes/" | append:".md") %}
                    {% assign item = site.processes | where_exp:"item", "item.path ==  linkpath " | first %}
                        <li><a href="{{ site.baseurl }}/processes/{{ rel_p }}.html">{{ item.process_name | truncate: 20 }}</a></li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endunless %}

            {% unless page.relations[2].products == nil %}
            <tr>
              <th>
                <p><strong>Products</strong></p>
              </th>
              <td>
                <ul>
                  {% assign rel_prods= page.relations[2].products %}
                  {% for rel_prod in rel_prods %}
                    {% assign linkpath =  (rel_prod | prepend: "_products/" | append:".md") %}
                    {% assign item = site.products | where_exp:"item", "item.path ==  linkpath " | first %}
                        <li><a href="{{ site.baseurl }}/products/{{ rel_prod }}.html">{{ item.product_name | truncate: 20 }}</a></li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endunless %}
          {% endunless %}
          </table>