          <!-- ############# RELATIONS: TODO: MOVE TO ITS OWN INCLUDE ############--> 
          {% unless page.relations[0].materials == nil and page.relations[1].processes == nil and page.relations[2].products == nil %}
            <div class="labels">Relations:</div>
            <table style="width:100%">
            {% unless page.relations[0].materials == nil %}
            <tr>
              <th>
                <p><strong>Materials</strong></p>
              </th>
              <td>
                <ul>
                  {% assign rel_ms= page.relations[0].materials %}
                  {% for rel_m in rel_ms %}
                    {% for m in site.materials %}
                      {% assign number=m.path | remove: "_materials/" | remove: ".md" %}
                      {% if number == rel_m %}
                        <li><a href="{{ site.baseurl }}/materials/{{ rel_m }}.html">{{ m.material_name | truncate: 20}}</a></li>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endunless %}

            {% unless page.relations[1].processes == nil %}
            <tr>
              <th>
                <p><strong>Processes</strong></p>
              </th>
              <td>
                <ul>
                  {% assign rel_ps= page.relations[1].processes %}
                  {% for rel_p in rel_ps %}
                    {% for p in site.processes %}
                      {% assign number=p.path | remove: "_processes/" | remove: ".md" %}
                      {% if number == rel_p %}
                        <li><a href="{{ site.baseurl }}/processes/{{ rel_p }}.html">{{ p.process_name | truncate: 20 }}</a></li>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endunless %}

            {% unless page.relations[2].products == nil %}
            <tr>
              <th>
                <p><strong>Products</strong></p>
              </th>
              <td>
                <ul>
                  {% assign rel_prods= page.relations[2].products %}
                  {% for rel_prod in rel_prods %}
                    {% for prod in site.products %}
                      {% assign number=prod.path | remove: "_products/" | remove: ".md" %}
                      {% if number == rel_prod %}
                        <li><a href="{{ site.baseurl }}/products/{{ rel_prod }}.html">{{ prod.product_name | truncate: 20 }}</a></li>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endunless %}
          {% endunless %}
          </table>
          <!-- ############# END OF RELATIONS ############--> 