{% include header.html %}
  <div class="w-section content-section">
    <div class="w-container content">
      <div class="w-row">
        <div class="w-col w-col-11 w-col-small-11 w-col-tiny-11 column">
          <h1 class="material-name">{{ page.material_name }}</h1>
          <div class="catalog-number">Catalog No. {{  page.url | (remove: "/materials/") | (remove: ".html" }}</div>
        </div>
        <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1 w-clearfix column">
          <div class="w-embed qrcode"><img src="https://api.qrserver.com/v1/create-qr-code/?data=http%3A%2F%2Ftiny.cc%2Fmatlib%2F{{ page.url }}">
          </div>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-4 w-col-small-4 material-column-left">
          <a class="w-lightbox w-inline-block lightbox-link lightbox-primary" href="#"><img class="lightbox-image" src="/images/material.png">
            <script type="application/json" class="w-json">
              { "group": "material images", "items": [{
                "url": "/images/material.png",
                "width": 2400,
                "height": 2400,
                "size": 235932,
                "type": "image"
              }] }
            </script>
          </a>
          <!--<a class="w-lightbox w-inline-block lightbox-link lightbox-link-secondary" href="#"><img class="lightbox-image lightbox-image-secondary" src="/images/material.png">-->
          <!--  <script type="application/json" class="w-json">-->
          <!--    { "group": "material images", "items": [{-->
          <!--      "url": "/images/material.png",-->
          <!--      "width": 2400,-->
          <!--      "height": 2400,-->
          <!--      "size": 235932,-->
          <!--      "type": "image"-->
          <!--    }] }-->
          <!--  </script>-->
          <!--</a>-->
          <!--<a class="w-lightbox w-inline-block lightbox-link lightbox-link-secondary" href="#"><img class="lightbox-image lightbox-image-secondary" src="/images/material.png">-->
          <!--  <script type="application/json" class="w-json">-->
          <!--    { "group": "material images", "items": [{-->
          <!--      "url": "/images/material.png",-->
          <!--      "width": 2400,-->
          <!--      "height": 2400,-->
          <!--      "size": 235932,-->
          <!--      "type": "image"-->
          <!--    }] }-->
          <!--  </script>-->
          <!--</a>-->
          <!--<a class="w-lightbox w-inline-block lightbox-link lightbox-link-secondary" href="#"><img class="lightbox-image lightbox-image-secondary" src="/images/material.png">-->
          <!--  <script type="application/json" class="w-json">-->
          <!--    { "group": "material images", "items": [{-->
          <!--      "url": "/images/material.png",-->
          <!--      "width": 2400,-->
          <!--      "height": 2400,-->
          <!--      "size": 235932,-->
          <!--      "type": "image"-->
          <!--    }] }-->
          <!--  </script>-->
          <!--</a>-->
        </div>
        <div class="w-col w-col-8 w-col-small-8">
          <div class="labels">Class</div>
          <div class="data">{{ page.class }} </div>
          <div class="labels">Subclass</div>
          <div class="data">{{ page.subclass | (split: ':') | last }}</div>
          <div class="labels">Description</div>
          <div class="data">
              {{ content }}
          </div>
          {{ page.files[0].file_name | strip }}
           {% if (page.files[0].file_name | strip) != blank %}
                <div class="labels">Files</div>
                    <ul class="data">
                        {% for file in page.files %}
                            <li><a href="{{ file.file_path }}">{{ file.file_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {{ page.links[0].link_title | strip }}
            {% if (page.links[0].link_title | strip) != blank %}
                <div class="labels">Links</div>
                    <ul class="data">
                        {% for link in page.links %}
                            <li><a href="{{ link.link_url }}">{{ link.link_title }}</a></li>
                        {% endfor %}
                    </ul>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% include footer.html %}
