{% include header.html %}
  <div class="w-section content-section">
    <div class="w-container content">
      <div class="w-row">
        <div class="w-col w-col-11 w-col-small-11 w-col-tiny-11 column">
          <h1 class="material-name">{{ page.material_name }}</h1>
          <div class="catalog-number">Catalog No. {{ page.url }}</div>
        </div>
        <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1 w-clearfix column">
          <div class="w-embed qrcode"><img src="https://api.qrserver.com/v1/create-qr-code/?data=http%3A%2F%2Fmatlib.webflow.io%2F1234">
          </div>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-4 w-col-small-4 material-column-left">
          <a class="w-lightbox w-inline-block lightbox-link lightbox-primary" href="#"><img class="lightbox-image" src="/images/material.png">
            <script type="application/json" class="w-json">
              { "group": "material images", "items": [{
                "url": "/images/material.png",
                "fileName": "55ef3bfd4812941c66a3087f_material.png",
                "origFileName": "material.png",
                "width": 2400,
                "height": 2400,
                "size": 235932,
                "type": "image"
              }] }
            </script>
          </a>
          <!--<a class="w-lightbox w-inline-block lightbox-link lightbox-link-secondary" href="#"><img class="lightbox-image lightbox-image-secondary" src="images/material.png">-->
          <!--  <script type="application/json" class="w-json">-->
          <!--    { "group": "material images", "items": [{-->
          <!--      "url": "images/material.png",-->
          <!--      "fileName": "55ef3bfd4812941c66a3087f_material.png",-->
          <!--      "origFileName": "material.png",-->
          <!--      "width": 2400,-->
          <!--      "height": 2400,-->
          <!--      "size": 235932,-->
          <!--      "type": "image"-->
          <!--    }] }-->
          <!--  </script>-->
          <!--</a>-->
          <!--<a class="w-lightbox w-inline-block lightbox-link lightbox-link-secondary" href="#"><img class="lightbox-image lightbox-image-secondary" src="images/material.png">-->
          <!--  <script type="application/json" class="w-json">-->
          <!--    { "group": "material images", "items": [{-->
          <!--      "url": "images/material.png",-->
          <!--      "fileName": "55ef3bfd4812941c66a3087f_material.png",-->
          <!--      "origFileName": "material.png",-->
          <!--      "width": 2400,-->
          <!--      "height": 2400,-->
          <!--      "size": 235932,-->
          <!--      "type": "image"-->
          <!--    }] }-->
          <!--  </script>-->
          <!--</a>-->
          <!--<a class="w-lightbox w-inline-block lightbox-link lightbox-link-secondary" href="#"><img class="lightbox-image lightbox-image-secondary" src="images/material.png">-->
          <!--  <script type="application/json" class="w-json">-->
          <!--    { "group": "material images", "items": [{-->
          <!--      "url": "images/material.png",-->
          <!--      "fileName": "55ef3bfd4812941c66a3087f_material.png",-->
          <!--      "origFileName": "material.png",-->
          <!--      "width": 2400,-->
          <!--      "height": 2400,-->
          <!--      "size": 235932,-->
          <!--      "type": "image"-->
          <!--    }] }-->
          <!--  </script>-->
          <!--</a>-->
        </div>
        <div class="w-col w-col-8 w-col-small-8">
          <div class="labels">Material Class</div>
          <div class="data">{{ page.class }} </div>
          <div class="labels">Material Subclass</div>
          <div class="data">{{ page.subclass }}</div>
          <div class="labels">Description</div>
          <div class="data">
              {{ content }}
          </div>
          <div class="labels">Attachments</div>
          <ul class="data">
            <li><a href="#">one</a>
            </li>
            <li><a href="#">two</a>
            </li>
            <li><a href="#">three</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% include footer.html %}
